<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Livros</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindos ao BuscaLivros 📚</h1>
        <p></p>
    </div>
    <div class="botoes">
        <button class="btn01">Clique para procurar por autor</button>
        <button class="btn02">Clique para procurar por Titulo do livro</button>
        <button class="btn02">Clique para procurar por Editora</button>
    </div>
</body>
</html>