@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

body {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #197080;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .container {  
    font-family: "Source Sans 3", sans-serif;
  }
  